/*
 * Global application theme.
 * Framework overrides and customization goes here.
 */

// stylelint-disable-next-line selector-max-universal
@import "theme-variables";

* {
  outline: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

html,
body {
  scroll-behavior: smooth;
  background: $cinza1;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

@media (max-width: 768px) {
  .container {
    padding: 0 10px;
  }
}

.flex {
  display: flex;
}

.flex-wr {
  flex-wrap: wrap;
}

.flex-ch {
  justify-content: center;
}

.flex-ri {
  justify-content: flex-end;
}

.flex-bv {
  align-items: flex-end;
}

.flex-le {
  justify-content: flex-start;
}

.flex-sp {
  justify-content: space-between;
}

.flex-spa {
  justify-content: space-around;
}

.flex-sa {
  justify-content: last-baseline;
}

.flex-cv {
  align-items: center;
}

.flex-dc {
  flex-direction: column;
}

// XXX: Estilo scroll
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: $azul4;
}

// XXX: Exibe apenas 1 mat-error por vez
mat-error + mat-error {
  display: none !important;
}

// XXX: Estilo carrosel
owl-carousel-o {
  .owl-theme .owl-dots .owl-dot {
    span {
      transition: 0.3s ease;
      width: 80px;
      background: $azul4;
    }

    &.active span,
    &:hover span {
      background: $azul1;
    }
  }
}
